.bg-1 {
    top: 10%; /* Adjust position as needed */
    left: 6%; /* Adjust position as needed */
    width: 120rem; 
    height: 110rem; 
    background-image: url('Group 1.png');
}

.bg-2 {
    top: 18%; /* Adjust position as needed */
    left: -50%; /* Adjust position as needed */
    width: 90rem; 
    height: 60rem; 
    background-image: url('Group 6.png');
}