@import '../../../styles/Home.css';
@import '../../../App.css';

.container {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background-image: var(--bg-1);
  background-size: cover;
  position: relative;
}

.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  width: 128px;
  height: 105px;
  opacity: 1;
}

ul.list {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: flex;
  gap: 20px;
  font-family: var(--primary-font);
  font-size: 32px;
  font-weight: 500;
  line-height: 42.66px;
  text-align: center;
}

ul.list li {
  position: relative;
}

ul.list li a.Home {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5rem;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

ul.list li a.Home .dropdown-icon {
  margin-left: 5px;
  font-size: 0.8rem;
  transition: transform 0.3s ease;
}

ul.list li.show .dropdown-icon {
  transform: rotate(180deg);
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1000;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px;
  transition: all 0.4s ease-in-out;
}

.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 830px) {
  .hamburger {
    display: flex;
  }

  ul.list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #235347;
    text-align: left;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  ul.list.show {
    display: flex;
  }

  ul.list li ul.dropdown {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
    background-color: transparent;
  }

  ul.list li ul.dropdown li a {
    padding: 10px 20px;
  }

  ul.list li ul.dropdown {
    display: none;
  }

  ul.list li.show > ul.dropdown {
    display: block;
  }

  ul.list li {
    margin-bottom: 10px;
  }

  ul.list li a.Home {
    font-size: 1.2rem;
  }
}


