@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Averia+Serif+Libre:wght@400;700&display=swap');

:root {
    --primary-color: #64ECC9;
    --secondary-color: #EDE7E7;
    --primary-font: 'Playfair Display', serif;
    --secondary-font: 'Averia Serif Libre', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(135deg, #000E21 0%, #235347 100%);
}

.linear-bg{
    background: linear-gradient(to bottom, #000E21 0%,#000e21a5 50%, #23534700 100%);
}

/* Background Images */
.background-image {
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.8; /*Adjust to make content readable */
}

.bg-1 {
    top: 0%; /* Adjust position as needed */
    left: 20%; /* Adjust position as needed */
    width: 80rem; 
    height: 80rem; 
    background-image: url('Group 1.png');
}


.bg-2 {
    top: 10%; /* Adjust position as needed */
    left: -40%; /* Adjust position as needed */
    width: 70rem; 
    height: 70rem; 
    background-image: url('Group 6.png');
}

.bg-3 {
    top: 100%; /* Adjust position as needed */
    left: 80%; /* Adjust position as needed */
    width: 20rem; 
    height: 20rem; 
    background-image: url('Group 6.png');
}

.bg-4 {
    top: -60%; /* Adjust position as needed */
    left: 66%; /* Adjust position as needed */
    width: 100rem; 
    height: 100rem; 
    background-image: url('Group 6.png');
}


/* Glassmorphism Layer */
.glass-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2); /*Semi-transparent for glass effect*/
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
    z-index: 1; /* Above backgrounds, below content */
}

/* Content Layer */
.content {
    position: relative;
    z-index: 3; /* On top of all layers */
}


/* shadow css  */

.ShadowBlur{
    transition: all 0.3s ease;
}

.ShadowBlur:hover{
    -webkit-box-shadow: 0px 0px 12px 8px rgba(162,131,75,0.61);
    -moz-box-shadow: 0px 0px 12px 8px rgba(162,131,75,0.61);
    box-shadow: 0px 0px 12px 8px rgba(162,131,75,0.61);
}

.ShadowSmall{
    -webkit-box-shadow: 0px 0px 12px 2px rgba(162,131,75,0.41);
    -moz-box-shadow: 0px 0px 12px 2px rgba(162,131,75,0.41);
    box-shadow: 0px 0px 12px 2px rgba(162,131,75,0.41);
}


/* active tab  */
.active-tab {
    background-color: #a2834b !important;
    color: white !important;
  }


/* underline animation */
.underline-animate{
    text-decoration: none;
}

.underline-animate::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.underline-animate:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}